{erl_opts, [no_error_module_mismatch]}.

{deps, [{brotli, {git, "https://github.com/Ledest/erl-brotli.git", {branch, "master"}}}]}.

{post_hooks, [
    {compile, "make -f ssl.mk compile"},
    {clean, "make -f ssl.mk clean"}
]}.

{shell, [
    {config, "sys.config"},
    {apps, [ssl_impersonate]}
]}.

{xref_checks, [
    undefined_function_calls,
    undefined_functions,
    locals_not_used,
    deprecated_function_calls,
    deprecated_functions
]}.

{relx, [
    {release, {ssl_impersonate, {git, short}}, [ssl_impersonate]},
    {dev_mode, false},
    {include_erts, false},
    {system_libs, false},
    {include_src, false},
    {sys_config, "sys.config"},
    {vm_args, "vm.args"},
    {overlay, [{mkdir, "bin/hooks"}, {copy, "rel/hooks/*.sh", "bin/hooks/"}]},
    {extended_start_script_hooks, [{pre_start, [{custom, "hooks/env.sh"}]}]},
    {extended_start_script, true}
]}.
